
body {
    margin: 20px;
    font-family: Tahoma, serif
}

@media screen and (min-width: 1040px) {
    body {
        width: 1000px;
        margin: 20px auto;
    }
}

h1 {
    margin-bottom: 0;
}

h2 {
    font-size: 1.25em;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #6666FF;
}

.breadcrumb {
    margin: 2px 0 15px 0;
}

#cat-photos {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 600px) {
    #cat-photos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 800px) {
    #cat-photos {
        grid-template-columns: repeat(3, 1fr);
    }
}

#cat-photos li {
    display: block;
    border: 2px solid #ccc;
    margin: 0;
    padding: 12px;
    text-align: left;
}

#cat-photos h2 {
    margin-top: 0;
}

#image-container {
    border: 2px solid #ccc;
    padding: 8px;
}

.comment {
    border: 2px solid #ccc;
    margin-bottom: 15px;
    padding: 20px;

}

.comment .name {
    font-weight: bold;
}




